################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/C#/KartRacing/KartRacing/bin/Debug
/C#/KartRacing/KartRacing/obj/Debug
/C#/KartRacing/KartRacing.UnitTests/bin/Debug
/C#/KartRacing/KartRacing.UnitTests/obj/Debug
/C#/KartRacing/packages
